/* TODO Add site wide styles */
body {
    background-color: #3AAfa9;
    margin: 0;
    height: 100vh;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
}

#game-status {
    position: absolute;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 20px solid #17252a;
    border-radius: 25px;
    background-color: #def2f1;
    justify-self: center;
    /* transform: rotate(180deg); ; */
}

/* .game-board > div {
    /* transform: rotate(180deg); ; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
/* } */

.squares {
    /* transform: rotate(180deg); ; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-square {
    background-color: #def2f1;
}

.black-square {
    background-color: #2b7a78;
}

#rook-black{
    background-image: url(./images/black-rook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#rook-white {
    background-image: url(./images/white-rook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#knight-black {
    background-image: url(./images/black-knight.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#knight-white {
    background-image: url(./images/white-knight.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#bishop-black {
    background-image: url(./images/black-bishop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#bishop-white {
    background-image: url(./images/white-bishop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#queen-black {
    background-image: url(./images/black-queen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#queen-white {
    background-image: url(./images/white-queen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#king-black {
    background-image: url(./images/black-king.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

#king-white {
    background-image: url(./images/white-king.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

#pawn-black {
    background-image: url(./images/black-pawn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#pawn-white {
    background-image: url(./images/white-pawn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.white-square:hover,
.black-square:hover {
    background-color: rgba(255, 255, 97, 0.475);
    transition: .25s;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-container {
  background-color: #f6f8f9;
  margin: auto;
  padding: 20px;
  width: 500px;
  height: 270px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  border: 5px solid rgb(181, 136, 99);
  align-items: center;
  background-color: rgb(240, 217, 181);
}

.modal-container > div {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid #151b26;
}

.modal-header {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid rgb(196, 196, 196);
  font-size: 24px;
}

.body-container {
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}
#home-page {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 25px;
    padding: 30px;
    width: 45%;
    justify-self: center;
}

#home-header {
    margin: 0;
    font-size: 95px;
}
#home-header,
#pick-color {
    color: #def2f1;
    text-align: center;
}

.button {
    background-color: #2b7a78;
    color: #def2f1;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.button:last-child {
    color: #17252a;
}

.button:hover {
    background-color: #5cdb95;
    cursor: pointer;
    transition: .2s;
}

footer {
    align-self: self-end;
    height: 100%;
    width: 100%;
    background-color: #17252a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 50px;
    color: #def2f1;
    text-decoration: none;
    padding: 0px 10px;
}

.waiting {
    color: #def2f1;
    font-size: 50px;
}

nav {
    background-color: #17252a;
    color: #def2f1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    height: 90px;
}

.quit-button {
    height: 90px;
    width: 7%;
    position: absolute;
    /* align-self: flex-start; */
    background-color: #17252a;
    /* border-left: solid 0.1px white; */
    /* border-right: solid 0.1px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0 5px 3px rgba(255,255,255,.16)
}

.quit-button:hover {
    background-color: #def2f1;;
    color: #17252a;
    cursor: pointer;
    transition: .25s;
}
/* # {
  --animate-repeat: 5;
} */